@charset "utf-8";

/* Add Six Animation Document */

.add_six_pic_text{
	font-family: calibri;
	display: block;
	color:#323232;
	text-transform:capitalize;
	position: relative;
	top:-40px;
	animation: rabbittext 4s infinite;
}

@keyframes rabbittext{
	0%{-webkit-top:-40px;left:10px;
	   top:-40px;left:10px;
	}

	50%{-webkit-top:5px;left:10px;
	   top:5px;left:10px;
	}

	55%{-webkit-top:5px;left:10px;
	   top:5px;left:10px;
	}

	100%{-webkit-top:5px;left:10px;
	   top:5px;left:10px;
	}
}

.rabbit{
	position: relative;
	top:160px;
	animation: 2s rabbit infinite;
}

@keyframes rabbit{
	0%{-webkit-top:160px;
	   top:160px;
	}

	50%{-webkit-top:5px;
	   top:5px;
	}

	55%{-webkit-top:5px;
	   top:5px;
	}

	100%{-webkit-top:5px;
	   top:5px;
	}
}