@charset "utf-8";

/* Add Ten Animation Document */

.add_ten_logo_con{
	width:654px;
	height:100px;
	float:left;
	box-sizing: border-box;
	
}

.youtube_logo_box{
	width:354px;
	height:100px;
	float:left;
	box-sizing: border-box;
	
	padding-top: 5px;
}

.youtube_name{
	font-family: calibri;
	text-transform: capitalize;
	font-style: normal;
	position: relative;
	margin-left:30px;
	margin-top:-5px;
}

.wap_logo_box{
	width:298px;
	height:100px;
	float:left;
	box-sizing: border-box;
	
	padding-left: 170px;
}

.wap_name{
	font-family: Exotc350 Bd BT;
	font-size: 18px;
	text-transform: capitalize;
	margin-left: -10px;
	margin-top: -5px;
}

input[name="wap_search"]{
	width:500px;
	height:40px;
	float:left;
	box-sizing:border-box;
	border:1px solid #ddd;
	font-family: calibri;
	font-size: 18px;
	margin-left: 20px;
	padding-left: 10px;




}	

.wap_submit{
	width:100px;
	height:40px;
	float:left;
	box-sizing:border-box;
	background-color:white; 
	margin-left:2px;

}	

.ytb_search{
	float:left;
	width:630px;
	height:80px;
	overflow:hidden;
	
}

.typing{
	width:500px;
	height:40px;
	float:left;
	margin-left:30px;
	margin-top:-37px;
}

.t_o  {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_o 4s infinite;
	animation: ty_o 4s infinite;
}

@keyframes ty_o{
	0%{color:white;}
	10%{color:#323232;}
	12%{color:#323232;}
	100%{color:#323232;}
}

.t_t  {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_t 4s infinite;
	animation: ty_t 4s infinite;
	
}

@keyframes ty_t{
	13%{color:white;}
	16%{color:#323232;}
	17%{color:#323232;}
	100%{color:#323232;}
}

.t_three  {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_three 4s infinite;
	animation: ty_three 4s infinite;
}

@keyframes ty_three{
	18%{color:white;}
	19%{color:#323232;}
	20%{color:#323232;}
	100%{color:#323232;}
}

.t_f {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_f 4s infinite;
	animation: ty_f 4s infinite;
}

@keyframes ty_f{
	23%{color:white;}
	24%{color:#323232;}
	25%{color:#323232;}
	100%{color:#323232;}
}



.t_fv {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_fv 4s infinite;
	animation: ty_fv 4s infinite;
}

@keyframes ty_fv{
	28%{color:white;}
	29%{color:#323232;}
	30%{color:#323232;}
	100%{color:#323232;}
}

.t_s  {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_s 4s infinite;
	animation: ty_s 4s infinite;
}

@keyframes ty_s{
	34%{color:white;}
	35%{color:#323232;}
	36%{color:#323232;}
	100%{color:#323232;}
}

.t_se {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	margin-left:6px;
	color:white;
	-webkit-animation: ty_se 4s infinite;
	animation: ty_se 4s infinite;
}

@keyframes ty_se{
	39%{color:white;}
	40%{color:#323232;}
	41%{color:#323232;}
	100%{color:#323232;}
}

.t_e  {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_e 4s infinite;
	animation: ty_e 4s infinite;
}

@keyframes ty_e{
	44%{color:white;}
	45%{color:#323232;}
	46%{color:#323232;}
	100%{color:#323232;}
}

.t_n {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_n 4s infinite;
	animation: ty_n 4s infinite;
}

@keyframes ty_n{
	49%{color:white;}
	50%{color:#323232;}
	51%{color:#323232;}
	100%{color:#323232;}
}

.t_te {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	margin-left:6px;
	color:white;
	-webkit-animation: ty_te 4s infinite;
	animation: ty_te 4s infinite;
}

@keyframes ty_te{
	54%{color:white;}
	55%{color:#323232;}
	56%{color:#323232;}
	100%{color:#323232;}
}

.t_el {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_el 4s infinite;
	animation: ty_el 4s infinite;
}

@keyframes ty_el{
	59%{color:white;}
	60%{color:#323232;}
	61%{color:#323232;}
	100%{color:#323232;}
}

.t_tw {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_tw 4s infinite;
	animation: ty_tw 4s infinite;
}

@keyframes ty_tw{
	64%{color:white;}
	65%{color:#323232;}
	66%{color:#323232;}
	100%{color:#323232;}
}

.t_th {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_th 4s infinite;
	animation: ty_th 4s infinite;
}

@keyframes ty_th{
	68%{color:white;}
	69%{color:#323232;}
	70%{color:#323232;}
	100%{color:#323232;}
}

.t_fo {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_fo 4s infinite;
	animation: ty_one fo infinite;
}

@keyframes ty_fo{
	73%{color:white;}
	74%{color:#323232;}
	75%{color:#323232;}
	100%{color:#323232;}
}

.t_ff {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_ff 4s infinite;
	animation: ty_ff 4s infinite;
}

@keyframes ty_ff{
	77%{color:white;}
	78%{color:#323232;}
	79%{color:#323232;}
	100%{color:#323232;}
}

.t_si {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_si 4s infinite;
	animation: ty_si 4s infinite;
}

@keyframes ty_si{
	81%{color:white;}
	82%{color:#323232;}
	83%{color:#323232;}
	100%{color:#323232;}
}

.t_sentn {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_sentn 4s infinite;
	animation: ty_sentn 4s infinite;
}

@keyframes ty_sentn{
	85%{color:white;}
	86%{color:#323232;}
	87%{color:#323232;}
	100%{color:#323232;}
}

.t_ei  {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_ei 4s infinite;
	animation: ty_ei 4s infinite;
	float:left;
}

@keyframes ty_ei{
	88%{color:white;}
	89%{color:#323232;}
	90%{color:#323232;}
	100%{color:#323232;}
}

.t_ni {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	margin-left:6px;
	color:white;
	-webkit-animation: ty_ni 4s infinite;
	animation: ty_ni 4s infinite;
}

@keyframes ty_ni{
	91%{color:white;}
	92%{color:#323232;}
	93%{color:#323232;}
	100%{color:#323232;}
}

.t_twenty {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_twenty 4s infinite;
	animation: ty_twenty 4s infinite;
}

@keyframes ty_twenty{
	93%{color:white;}
	94%{color:#323232;}
	94%{color:#323232;}
	100%{color:#323232;}
}



.t_two  {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_two 4s infinite;
	animation: ty_two 4s infinite;
}


@keyframes ty_two{
	94%{color:white;}
	95%{color:#323232;}
	96%{color:#323232;}
	100%{color:#323232;}
}

.t_twt {
	display:block;
	position:relative;
	float:left;
	font-family:calibri;
	font-size:22px;
	color:white;
	-webkit-animation: ty_twt 4s infinite;
	animation: ty_twt 4s infinite;
}

@keyframes ty_twt{
	96%{color:white;}
	97%{color:#323232;}
	98%{color:#323232;}
	100%{color:#323232;}
}
	

	
	