@charset "utf-8";
/*start header text animation*/

.text_one{
	-webkit-animation:text_one 2.5s infinite;
	animation:text_one 2.5s infinite;
}


@-webkit-keyframes text_one{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

@keyframes text_one{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

.text_two{
	-webkit-animation:text_two 2.5s infinite;
	animation:text_two 2.5s infinite;
	animation-delay:0.5s;
}


@-webkit-keyframes text_two{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

@keyframes text_two{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

.text_three{
	-webkit-animation:text_three 2.5s infinite;
	animation:text_three 2.5s infinite;
	animation-delay:0.6s;
}


@-webkit-keyframes text_three{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

@keyframes text_three{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}


.text_four{
	-webkit-animation:text_four 2.5s infinite;
	animation:text_four 2.5s infinite;
	animation-delay:0.7s;
}


@-webkit-keyframes text_four{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

@keyframes text_four{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

.text_five{
	-webkit-animation:text_five 2.5s infinite;
	animation:text_five 2.5s infinite;
	animation-delay:0.8s;
}


@-webkit-keyframes text_five{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

@keyframes text_five{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

.text_six{
	-webkit-animation:text_six 2.5s infinite;
	animation:text_six 2.5s infinite;
	animation-delay:0.9s;
}


@-webkit-keyframes text_six{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

@keyframes text_six{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

.text_seven{
	-webkit-animation:text_seven 2.5s infinite;
	animation:text_seven 2.5s infinite;
	animation-delay:1s;
}


@-webkit-keyframes text_seven{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

@keyframes text_seven{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

.text_eight{
	-webkit-animation:text_eight 2.5s infinite;
	animation:text_eight 2.5s infinite;
	animation-delay:1.1s;
}


@-webkit-keyframes text_eight{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

@keyframes text_eight{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

.text_nine{
	-webkit-animation:text_nine 2.5s infinite;
	animation:text_nine 2.5s infinite;
	animation-delay:1.2s;
}


@-webkit-keyframes text_nine{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

@keyframes text_nine{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

.text_ten{
	-webkit-animation:text_ten 2.5s infinite;
	animation:text_ten 2.5s infinite;
	animation-delay:1.3s;
}


@-webkit-keyframes text_ten{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

@keyframes text_ten{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

.text_eleven{
	-webkit-animation:text_eleven 2.5s infinite;
	animation:text_eleven 2.5s infinite;
	animation-delay:1.6s;
}


@-webkit-keyframes text_eleven{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

@keyframes text_eleven{
0%{color:#323232;}
50%{color:white;}
100%{color:white;}
}

/*end header text animation*/
