@charset "utf-8";

.add_four_pic{
	float: left;
	-webkit-animation:addpicfour 6s infinite;
	animation:addpicfour 6s infinite;
	position: relative;
}

@keyframes addpicfour{
	0%{top:0; left:0;}
	20%{top:0;left:-350px;}

	85%{top:0; left:-350px;}
	90%{top:0; left:0;}
	100%{top:0; left:0;}
}


.cow_store_text{
	float: right;
	font-family: Exotc350 Bd BT;
	color:blue;
	font-size: 30px;
	-webkit-animation: cowstoretext 6s infinite;
	animation: cowstoretext 6s infinite;
	animation-delay:1s;
	position: relative;
	
}

@keyframes cowstoretext{
	0%{top:150px; left:0px;
		font-size:20px;
		color:blue;}

	15%{top:-100px; left:-75px;
		font-size:20px;
		text-align: center;
		color:blue;}

	50%{top:-110px; left:-10px;
		font-size:40px;
		text-align: center;
		color: red}

	55%{top:-110px; left:-10px;
		font-size:40px;
		text-align: center;
		color:red;}

	56%{top:-100px; left:-75px;
	font-size:20px;
	color:blue;}

	60%	{top:-100px; left:-75px;
		font-size:20px;}

	62%{top:170px; left:-75px;}	


	100%{top:170px; left:-75px;}

}