@charset "utf-8";

/* fashion Animation Document */

.shoping_pic{
	-webkit-animation: 4s shopingpic infinite; 
	animation: 4s shopingpic infinite; 
	position: relative;
	top:0;
	left:-380px;
}

@keyframes shopingpic{
	0%{top:0; left:-380;}
	25%{left:0;top:0;}
    100%{left:0;top:0;}

}

.mall_name{
	color:green;
	-webkit-animation:mallname 4s infinite;
	animation:mallname 4s infinite;
	animation-delay:1s;
	top:-30px;

}

@keyframes mallname{
	0%{top:-30px; right:10px;}
	25%{top:10px; right:10px;}
	50%{top:10px; right:10px;}
	100%{top:10px; right:10px;}
}

.discount_text{
	-webkit-animation:discounttext 4s infinite;
	animation:discounttext 4s infinite;
	animation-delay:2s;
	right:-180px;
	top:20px;

}

@keyframes discounttext{
	0%{top:20px;right:-180px;}
	25%{top:20px; right:-15px;}
	50%{top:20px; right:-15px;}
	100%{top:20px; right:-15px;}
}


.delivery_text{
	-webkit-animation:deliverytext 4s infinite;
	animation:deliverytext 4s infinite;
	animation-delay:3s;
	top:150px;
	left:-10px;

}

@keyframes deliverytext{
	0%{top:150px; left:-10px;}
	25%{top:30px; left:-10px;}
	100%{top:30px;left:-10px;}
}